/* Color Palette
Blue Button : #1571DC
Orange Text : #F4A813
Blue Bg : #F4A813
Blue Bg Section : #F5FAFF
Yellow Bg : #FFFAF1
Footer Bg : #0B3252 */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

html,
body {
  font-family: "Poppins", sans-serif;
  color: #484d4d;
  scroll-behavior: smooth;
}

.h-350 {
  height: 350px;
}

.h-320 {
  height: 320px;
}

.leading-12 {
  line-height: 3rem;
}

.leading-16 {
  line-height: 4rem;
}

.blue-button {
  background-color: #1571dc;
  color: #ffffff;
  padding: 0.75rem 1.25rem;
  border-radius: 0.5rem;
}

.blue-divider {
  background-color: #72afe1;
  width: 6rem;
  height: 0.5rem;
  border-radius: 0.25rem;
  margin-right: 0.5rem;
}

.blue-divider2 {
  background-color: #72afe1;
  width: 0.75rem;
  height: 0.5rem;
  border-radius: 0.25rem;
}

.order-section {
  background-color: #f5faff;
}

.yellow-section {
  background-color: #fffaf1;
}

.blue-number {
  background-color: #f5faff;
  color: #1571dc;
  width: 1.5rem;
  height: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 14px;
  margin-top: 2px;
}

.popular-button {
  width: max-content;
  font-weight: 600;
  padding: 0.35rem 0.5rem;
  border-radius: 5px;
  border: 1px solid #1571dc;
  color: #1571dc;
  background-color: #f5faff;
}

.categories {
  color: #f4a813;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 600;
}

footer {
  background-color: #0b3252;
  color: #fff;
  padding-top: 4rem;
}

.dfBDQI {
  display: none !important;
}

@media screen and (max-width: 768px) {
  .leading-12 {
    line-height: 2rem;
  }

  .leading-16 {
    line-height: 3rem;
  }
}
